<main class="main">
    <div class="container">
      <div class="imonep">
        <img
          src="../../../assets/image/onepiece.webp"
          alt="onepiece"
          class="imgone"
        />
      </div>
      <div class="contotal gap-5">
        <div class="contonepiece">
          <div class="title-one">
            <h2>{{product.name}}</h2>
            
            <i class="bi bi-share-fill estrellas"></i>
          </div>

          <div class="estrellas">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          
          <button type="button" class="btn btn-outline-danger">
            <i class="bi bi-bookmark"></i> Añadir a mi lista
          </button>
          
          <p>
            {{ product.description }}
          </p>
          <button type="button" class="btn btn-primary">Accion</button>
          <button type="button" class="btn btn-primary">Aventura</button>
          <button type="button" class="btn btn-primary">Fantasia</button>
          <button type="button" class="btn btn-primary">Shonen</button>
        </div>

       
        </div>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 1: La muerte de ace puño de fuego</h4>
        </div>
      </div>
        </a>
      
      
    </div>
  </main>