<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
<main class="main">
    <div class="container">
      <div class="imonep">
        <img
        [src]="product.urlImage"
        [alt]="product.name"
          class="imgone"
        />
      </div>
      <div class="contotal gap-5">
        <div class="contonepiece">
          <div class="title-one">
            <h2>{{product.name}}</h2>
            
            <i class="bi bi-share-fill estrellas"></i>
          </div>

          <div class="estrellas">
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
          
          <button type="button" class="btn btn-outline-danger">
            <i class="bi bi-bookmark"></i> Añadir a mi lista
          </button>
          
          <p>
            {{ product.description }}
          </p>
          <button type="button" class="btn btn-primary">Accion</button>
          <button type="button" class="btn btn-primary">Aventura</button>
          <button type="button" class="btn btn-primary">Fantasia</button>
          <button type="button" class="btn btn-primary">Shonen</button>
        </div>

       
        </div>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 1</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 2</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 3</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 4</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 5</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 6</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 7</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 8</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 9</h4>
        </div>
      </div>
        </a>
        <a href="#" class="atext">
          <div class="capb">
              <div class="pressbutton">
            <h4 class="clc">Capitulo 10</h4>
        </div>
      </div>
        </a>
        <hr>
        <hr>
        <section class="contenedor-comentarios">
          <div class="area-comentar">
              <div class="avatar">
                  <img src="../../../assets/image/aside 3.png" alt="img">
              </div>
              <form action="#" method="post" class="inputs-comentarios">
                  <textarea name="" class="area-comentario"></textarea>
                  <div class="botones-comentar">
                      <div class="boton-subir-archivo">
                          <label class="boton-file" for="adjuntar">
                              <i class="far fa-image"></i>
                              Adjuntar archivo
                          </label>
                          <input type="file" name="" value="" placeholder="" id="adjuntar">
                      </div>
                      <button class="boton-enviar" type="sutmit">
                          <i class="fas fa-paper-plane"></i>
                          Enviar
                      </button>
                  </div>
              </form>
          </div>
          <div class="publicacion-realizada">
              <div class="usuario-publico">
                  <div class="avatar">
                      <img src="../../../assets/image/aside 3.png" alt="img">
                  </div>
                  <div class="contenido-publicacion">
                      <h4>NINJAASESINO 2020</h4>
                      <ul>
                          <li>Hace 3 min</li>
                      </ul>
                  </div>
                  <div class="menu-comentario">
                      <i class="fas fa-pen"></i>
                      <ul class="menu">
                          <li><a href="">Editar</a></li>
                          <li><a href="">Eliminar</a></li>
                      </ul>
                  </div>
              </div>
              <p>Necesito el seiguiente capitulo ya!!!!!!!!!!!!!! estoy muy impresionado con el creador de esta joya, este manga transmite muchos sentimientos, nunca me habia sentido tan feliz de descubrir un manga</p>
              <div class="botones-comentario">
                  <button type="" class="boton-puntuar">
                      <i class="fas fa-thumbs-up"></i>
                      45
                  </button>
                  <button type="" class="boton-responder">
                      Comentar
                  </button>
              </div>
          </div>
          <div class="comentarios-usuarios">
              <!-- comentario principal -->
              <div class="comentario-principal-usuario">
                  <div class="avatar">
                      <img src="../../../assets/image/aside 1.jpg" alt="img">
                  </div>
                  <div class="comentario">
                      <div class="usuario-comentario">
                          <div class="texto">
                              <a href="#" title="" class="nombre-usuario">NarutoGoku</a> Estoy en desacuerdo contigo amigo este manga es una porqueria, la trama no tiene sentido y el prota es muy basico
                              <div class="menu-comentario">
                                  <i class="fas fa-pen"></i>
                                  <ul class="menu">
                                      <li><a href="">Editar</a></li>
                                      <li><a href="">Eliminar</a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="botones-comentario">
                              <button type="" class="boton-puntuar">
                                  <i class="fas fa-thumbs-up"></i>
                                  5
                              </button>
                              <button type="" class="boton-responder">
                                  Responder
                              </button>
                              <span class="tiempo-comentario">
                                  hece 3 min
                              </span>
                          </div>
                      </div>
      
                      <!-- contenedor sub comentarios -->
                      <div class="contenedor-sub-comentarios">
                          <!-- sub-comentario uno -->
                          <div class="comentario-principal-usuario">
                              <div class="avatar">
                                  <img src="../../../assets/image/de611b1fb57697f0853c46af70020f871684669936_thumb.jpg" alt="img">
                              </div>
                              <div class="comentario">
                                  <div class="usuario-comentario">
                                      <div class="texto">
                                          <a href="#" title="" class="nombre-usuario">KanekiItachi</a> pero que dices, acabas de insultar a mi manga favorito, voy a encontrarte y voy a torturarte para luego matarte.
                                          <div class="menu-comentario">
                                              <i class="fas fa-pen"></i>
                                              <ul class="menu">
                                                  <li><a href="">Editar</a></li>
                                                  <li><a href="">Eliminar</a></li>
                                              </ul>
                                          </div>
                                      </div>
                                      <div class="botones-comentario">
                                          <button type="" class="boton-puntuar">
                                              <i class="fas fa-thumbs-up"></i>
                                              12
                                          </button>
                                          <button type="" class="boton-responder">
                                              Responder
                                          </button>
                                          <span class="tiempo-comentario">
                                              hece 3 min
                                          </span>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
      
                  </div>
      
              </div>
      
              <div class="comentar-publicacion">
                  <div class="avatar">
                      <img src="../../../assets/image/aside 3.png" alt="img">
                  </div>
                 <form action="#" method="post" class="comentar-comentario">
                     <input type="text" name="" value="" placeholder="">
                     <button type="" class="boton-enviar">
                         <i class="fas fa-paper-plane"></i>
                     </button>
                 </form>
              </div>
              
          </div>
      </section>
      <hr>
      
    </div>
  </main>