<div class="container">
    <h2>Formulario de Noticias</h2>
    <form>
        <div class="capitulos">
            <h3>Titulo</h3>
            <div class="capitulo">
              <input type="text" class="titulo" placeholder="Título">
              <input type="file" class="imagenNoticias" placeholder="Imagen del Noticias">
              <button type="button" class="mas">+</button>
            </div>
          </div>
          <h3>Subtitulo</h3>
          <input type="text" class="subtitulo" placeholder="Subtitulo">
          <h3>Descripcion</h3>
          <textarea type="text" class="descripcion"cols="0" rows="0w"></textarea>

       
        <br>


      <button type="submit" class="register">
        <span>Enviar</span>
      </button>

      <div class="reg"></div>
      <div class="sig"></div>
    </form>
  </div>