
<div class="container main-news container-news">
    <aside class="news-right">
        <form class="search-form-news" method="get" action="" id="search_form_news">
          <input type="text" name="" class="search-fiel" placeholder="Buscar todas las Noticias">
          <input type="hidden" name="" value="">
          <button class="search-submit-button"><i class="bi bi-search"></i></button>
        </form>
        <h1 class="news-right-header">Articulos</h1>
        <ul class="news-abbr">
          <li class="clearfix">
                <div class="byline-and-post-date">
                  <p><img class="mug" src="../../../assets/image/aside 1.jpg"><a class="news-articulos" href="#">El hermoso y perturbador arte de Hell's Paradise</a></p>
                  
                    <div class="byline">
                      Autor: A. Trejo Mosquera                
                    </div>
                  <p class="post-date">Viernes May 19, 2023</p>
                </div>
          </li>
    
          <li class="clearfix">
            <div class="byline-and-post-date">
              <p><img class="mug" src="../../../assets/image/aside 2.png"><a class="news-articulos" href="#">ENCUESTA: Es hora de elegir su Opening favorito de la primavera de 2023</a></p>
            
            
          </div>
    
                <div class="byline">
                  Autor: A. Trejo Mosquera              
                </div>
              <p class="post-date">Jueves May 18, 2023</p>
            
            
          </li>
          
          <li class="clearfix">
            <div class="byline-and-post-date">
              <p><img class="mug" src="../../../assets/image/aside 3.png"><a class="news-articulos" href="#">GUÍA: ¿Cómo son las partidas clasificatorias de Fortnite en Batalla Campal y Cero Construcción?</a></p>
    
                <div class="byline"> 
                  Autor: Julio Vélez               
                </div>
                <p class="post-date">Miércoles May 17, 2023</p>
            </div>
          </li>
    
          
        </ul>
        <div class="notice-seccion-down gap-4">
          <h5><a href="#" class="notice-word"> leer mas</a></h5>
        </div>
      </aside>
    <div class="news-header-container">
        <h2  class="news-text">Todas las noticias</h2>
        <p class="news-informanos"><a class="news-articulos" href="#">¿Quieres informarnos de algo?</a></p>
      </div>
    <div class="container-news1">
        <div class="notice-cont">
          <div class="notice-titulos">
            <h3 clsss="text-news"><a href="#" class="notice-word">JUJUTSU KAISEN nos presenta un adelanto del arco Inventario Oculto / Muerte Prematura en un nuevo tráiler</a></h3>
            <h5 class="notice-word">Además tenemos las ilustraciones de personajes para el arco del Incidente de Shibuya</h5>
            <p class="notice-word">May 21, 2023 10:38am -05 (hace 2 días)</p>
       </div>
    
          <div class="notice-adentro">
    
              <p class="seccion-1 text">
                <img src="Images/notice1.jpg" alt="Boruto" class="notice-img" />
    
                En Konoha han entrado en una era de paz y modernidad. Los altos
                edificios despuntan en las calles, las pantallas gigantes muestran
                imágenes de todo tipo y los medios de transporte conectan los
                vairos distritos. Pese a que sigue siendo una aldea ninja, el
                número de civiles ha aumentado y la vida de los ninja ha cambiado.
              </p>
            </div>
            <div class="notice-seccion-down gap-4">
              <h5><a href="#" class="notice-word"> comentarios </a></h5>
              <h5><a href="#" class="notice-word"> leer mas</a> </h5>
            </div>
      </div>
     

      
</div>
