<div class="container">
    <div class="search-field">
      <input type="text" placeholder="Buscar..." class="search-input" />
    </div>
  </div>

  <div class="container">
    <ng-container *ngIf="products && products.products.length > 0 && products.products; then productList; else noProducts">
    </ng-container>

    <ng-template #productList>
      <div class="gratis gap-3">
        
        <div class="Card" *ngFor="let product of products.products">
          <img
            src="../../../assets/image/baki.jpg"
            alt="My hero Academia"
            class="Card-img"
          />
          <div class="Card-body">
            <h1 class="Card-title seccion-1"> {{ product.name }}</h1>
            <a href="Myheroa.html"><button class="Card-btn">Leer</button></a>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template #noProducts>
      <h3>La tienda no posee productos</h3>
    </ng-template>
  </div>