<link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
    <br>
    <div class="cards subscripciones container">
      <div class="card">
        <h2>FAN</h2>
        <div class="icon-container">
          <div class="img-star d-flex">
            <i class="fa-solid fa-star"></i>
          </div> 
        </div>
        <div class="price">
          <p class="price">$10.000,00 COP/mes</p>
        </div>
        <div class="main-text">
          <a href="#" class="button">INICIAR PRUEBA GRATUITA DE 15 DIAS</a>
          <p><strong>publicidad</strong></p>
          <p><strong>acceso ilimitado al catalogo de manga</strong></p>
          <p><strong>Nuevos episodios poco después de su transmisión en Japón</strong></p>
          <p><strong>Disponible en 1 dispositivo al mismo tiempo</strong></p>
          <p class="highlight">visionado sin conexión</p>
          <p class="highlight">16% de descuento sobre el Plan Mensual (cargo cada 12 meses)</p>
        </div> 
      </div>
    
      <div class="card">
        <h2>MEGA FAN (Mes)</h2>
        <div class="icon-container">
          <div class="img-star d-flex">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>  
        <p class="price">$14.000,00 COP/mes</p>
        <a href="#" class="button">INICIAR PRUEBA GRATUITA DE 15 DIAS</a>
        <div class="main-text">
          <p><strong>publicidad</strong></p>
          <p><strong>acceso ilimitado al catalogo de manga</strong></p>
          <p><strong>Nuevos episodios poco después de su transmisión en Japón</strong></p>
          <p><strong>Disponible en 1 dispositivo al mismo tiempo</strong></p>
          <p><strong>visionado sin conexión</strong></p>
          <p class="highlight">16% de descuento sobre el Plan Mensual (cargo cada 12 meses)</p>
        </div>
      </div>
    
      <div class="card">
        <h2>MEGA FAN PLUS (12-Meses)</h2>
        <div class="icon-container">
          <div class="img-star d-flex">
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
            <i class="fa-solid fa-star"></i>
          </div>
        </div>
        <p class="price">$90.000,00 COP/año</p>
        <a href="#" class="button">INICIAR PRUEBA GRATUITA DE 15 DIAS</a>
        <div class="main-text">
          <p><strong>publicidad</strong></p>
          <p><strong>acceso ilimitado al catalogo de manga</strong></p>
          <p><strong>Nuevos episodios poco después de su transmisión en Japón</strong></p>
          <p><strong>Disponible en 1 dispositivo al mismo tiempo</strong></p>
          <p><strong>visionado sin conexión</strong></p>
          <p><strong>16% de descuento sobre el Plan Mensual (cargo cada 12 meses)</strong></p>
        </div>
      </div>
    </div>

  </body>
  <br>