.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
    background-color: #f9f9f9;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  h2 {
    text-align: center;
    color: #007bff;
    margin-bottom: 30px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  textarea {
    resize: vertical;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  

  h3 {
    color: #007bff;
  }
  
  .capitulos {
    margin-top: 30px;
  }
  
  .capitulo {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  .titulo,
  .imagenCapitulo {
    flex: 1;
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .mas {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .mas:hover {
    background-color: #218838;
  }
  .Manga {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .Category {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }