<div class="container">
    <h2>Formulario de Capítulos</h2>
    <form>
        <div class="capitulos">
            <h3>Capítulos</h3>
            <div class="capitulo">
              <input type="text" class="titulo" placeholder="Título del Capítulo">
              <input type="file" class="imagenCapitulo" placeholder="Imagen del Capítulo">
              <button type="button" class="mas">+</button>
            </div>
          </div>
          <h3>Mangas</h3>
          <select class="Category"  id="category" >
          <option value="">Seleccione...</option>
        </select>
        <br>
  
      
      <button type="submit" class="register">
        <span>Enviar</span>
      </button>
  
      <div class="reg"></div>
      <div class="sig"></div>
    </form>
  </div>